/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Fin du reset*/


/*Import des fonts*/
@font-face {
    font-family: "Gastromond";
    src : url("fonts/Gastromond.woff2"),
    url("fonts/Gastromond.woff");
}

@font-face {
    font-family: "Superclarendon";
    src: url("fonts/Superclarendon\ Regular.woff2"),
    url("fonts/Superclarendon\ Regular.woff");
}


/*header*/
header {
    background-color: rgba(98, 117, 91, 1);
    display: flex;
    justify-content: space-between;
}


.header-title {
    color: #ffff;
    font-family: "Gastromond", sans-serif;
    font-size: 30px;
    padding: 20px;
    display: inline-block;
}

.header-button {
    color: #ffff;
    display: inline-block;
}

.header-button:hover {
    color: rgba(240, 188, 0, 1);
}


/*menu*/
.menu-toggle {
   display: block;
   position: relative;
   top: 20px;
   left: 20px;
   z-index: 1;
}
 
.menu-toggle a {
   text-decoration: none;
   font-family: "Superclarendon", sans-serif;
   color: #ffff;
    }
 
.menu-toggle a:hover {
   color: rgba(240, 188, 0, 1);
}
 
 
.menu-toggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
}
 
 /*hamburger*/
.menu-toggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #ffff;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
.menu-toggle span:first-child {
   transform-origin: 0% 0%;
 }
 
.menu-toggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 /*transform slices of hamburger into crossmark*/
.menu-toggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: rgba(240, 188, 0, 1);
 }
.menu-toggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
.menu-toggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*position absolute top left screen*/
.menu {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: rgba(98, 117, 91, 1);
   list-style-type: none;   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 
.menu li {
   padding: 10px;
   font-size: 22px;
}
 
 /*slide from the left*/
.menu-toggle input:checked ~ ul {
   transform: none;
}


/*main*/

/*pages buttons*/
main section {
    position: relative;
    background-color: rgba(66, 89, 60, 1);
    display: flex;
    justify-content: center;
}

 main a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 15px;
}

main a::before {
    background-color: rgba(130, 166, 122, 1);
}
 main a:hover {
    background-color: rgba(130, 166, 122, 1);
    color: white;
}
  main a:checked {
    background-color: rgba(130, 166, 122, 1);
    color: white; 
}

.page-buttons {
    background-color: rgba(66, 89, 60, 1);
    color: white;
}


/*days buttons*/
main nav {
    position: relative ;
    background-color: rgba(66, 89, 60, 1);
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.days-buttons {
    background-color: rgba(66, 89, 60, 1);
    color: white;
}