/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Fin du reset*/


/*
Import des fonts
*/
@font-face {
    font-family: "Gastromond";
    src : url("fonts/Gastromond.woff2"),
    url("fonts/Gastromond.woff");
}

@font-face {
    font-family: "Superclarendon";
    src: url("fonts/Superclarendon\ Regular.woff2"),
    url("fonts/Superclarendon\ Regular.woff");
}


/*
header
*/
header {
    background-color: rgba(98, 117, 91, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


.header-title {
    color: #ffff;
    font-family: "Gastromond", sans-serif;
    font-size: 30px;
    padding: 20px;
    display: inline-block;
}

.header-title:hover {
    color: rgba(240, 188, 0, 1);
}

.header-button {
    color: #ffff;
    display: inline-block;
}

.header-button:hover {
    color: rgba(240, 188, 0, 1);
}

.header-buttons {
    display: block;
    position: relative;
    right: 20px;
}

.profil {
    margin-left: 15px;
}

.header950  {
    display: none;
    margin-right: 20px;
}



/*
menu
*/
.menu-toggle {
   display: block;
   position: relative;
   left: 20px;
   z-index: 1;
}
 
.menu-toggle a {
   text-decoration: none;
   font-family: "Superclarendon", sans-serif;
   color: #ffff;
    }
 
.menu-toggle a:hover {
   color: rgba(240, 188, 0, 1);
}
 
 
.menu-toggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
}
 
 /*
 hamburger
 */
.menu-toggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #ffff;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
.menu-toggle span:first-child {
   transform-origin: 0% 0%;
 }
 
.menu-toggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 /*transform slices of hamburger into crossmark*/
.menu-toggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: rgba(240, 188, 0, 1);
 }
.menu-toggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
.menu-toggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*position absolute top left screen*/
.menu {
   position: absolute;
   width: 100vw;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: rgba(98, 117, 91, 1);
   list-style-type: none;   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 
.menu li {
   padding: 10px;
   font-size: 22px;
}
 
 /*slide from the left*/
.menu-toggle input:checked ~ ul {
   transform: none;
}


/*
main
*/
.content {
    display: flex;
    flex-wrap: wrap;
}

.primary-title {
    margin: 30px 30px 10px 30px;
    padding: 10px;
    position: relative;
    background-color: rgba(66, 89, 60, 1);
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-size: 150%;
}

/*nav bar*/
.days-bar {
    margin: 0px 30px 0 30px;
    position: relative ;
    background-color: rgba(66, 89, 60, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
}

 .days-buttons {
    text-decoration: none;
    border-radius: 15px;
    color: white;
    margin: 0;
    padding: 20px 15px 20px 15px;
}

 .days-buttons:hover {
    background-color: rgba(130, 166, 122, 1);
    color: white;
}

/*planning*/
.meals {
    margin: 40px 0 40px 0;
}


.meals-header {
    display: flex;
}

.add {
    margin-left: 15px;
}

.meals-name {
    font-family: "Gastromond", sans-serif ;
    font-size: 130%;
    position: relative;
    margin-left: 30px;
}

.lunch {
    display: flex;
    flex-wrap: wrap;
}

.dish {
    align-items: center;
    display: inline-block;
    position: relative;
}

.close {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 40px;
    right: 50px;
    z-index: 1;
}

.img-planning {
    margin: 30px 30px 5px 30px;
    position: relative ;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    max-width: 100%;
}

.dish-name {
    margin-left: 30px;
    font-family: "Superclarendon", sans-serif;
    font-size: 130%;
}

/*shopping list*/
.shopping-list {
    width: 100%;
    max-width: 663px;
}

.shopping-items {
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.items {
    font-size: 20px;
}

input[type="checkbox"] {
    accent-color: rgba(240, 188, 0, 1);
}

.secondary-title {
    margin: 0px 30px 0 30px;
    position: relative ;
    background-color: rgba(66, 89, 60, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    color: white;
    padding: 20px 15px 20px 15px;
}

@media (min-width: 950px) {
    /*main part*/
    .shopping-list{
        width: auto;
        flex-grow: 1;
        border-left: 2px solid rgba(98, 117, 91, 1);
    }
    
    /*header*/
    .search, .menu-toggle, .header-title {
        display: none;
    }

    .header950 {
        display: inline-block;
    }

    .logo {
        position: absolute;
        left: 20px;
    }

    .home-followed {
        margin: 0px 10px 0 10px;
        position: relative ;
        background-color: rgba(130, 166, 122, 1);
        border-radius: 50px;
        color: white;
        padding: 10px 15px 10px 15px;
    }

    .content-buttons {
        text-decoration: none;
        color: white;
        font-family: "Superclarendon", sans-serif;
        font-size: 15px;
    }

    /*barre de recherche*/
    .search-container {
        width: 260px;
        position: relative;
        /* border: none; */
    }
    
    .search-bar {
        width: 198px;
        padding: 10px 50px 10px 20px;
        background-color: rgba(130, 166, 122, 1);
        border-radius: 50px;
        font-family: "Superclarendon", sans-serif;
        font-size: 15px;
        color: white;
    }
    
    .search-icon {
        margin-top: -17px;
        position: absolute;
        top: 50%;
        right: 10px;
    }
      
}